<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                <mat-icon class="mr-2">location_on</mat-icon>
                <h2 class="p-0 m-0">Selecione o endereço</h2>
                </div>
            </div>    
            <div class="row d-flex justify-content-center">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title mb-2"><strong>Endereço Principal</strong></h3>              
                        <div *ngIf="carrinhoCompra.enderecos?.length">
                            <h5 class="card-text mb-0">{{ carrinhoCompra.enderecoEntrega?.logradouro + ', ' + carrinhoCompra.enderecoEntrega?.numero }}</h5>
                            <h5 class="card-text mb-0">{{ carrinhoCompra.enderecoEntrega?.bairro }}</h5>
                            <h5 class="card-text mb-3">{{ 'CEP ' + carrinhoCompra.enderecoEntrega?.cep + ' - ' + carrinhoCompra.enderecoEntrega?.cidade + ' - ' + carrinhoCompra.enderecoEntrega?.uf }}</h5>
                            <div>
                                <button class="btn btn-dark btn-sm mr-2" (click)="showModalEndereco(true)">Editar</button>
                                <button class="btn btn-dark btn-sm btn-pre-cadastro" (click)="showModalTroca(modalTrocaEndereco)">Selecionar outro</button>
                            </div>
                        </div>
                        <div *ngIf="!carrinhoCompra.enderecos?.length">
                            <button class="btn btn-dark btn-sm mr-2 mt-3" (click)="showModalEndereco(false)">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 d-flex align-items-center">
                <mat-icon class="mr-2">credit_card</mat-icon>
                <h2 class="p-0 m-0">Pagamento</h2>
                </div>
            </div>    
            <div class="row d-flex justify-content-center">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title mb-2"><strong>Cartão Principal</strong></h3>              
                        <div *ngIf="carrinhoCompra.cartoes?.length">
                            <h5 class="card-text mb-0">{{ carrinhoCompra.cartaoPagamento?.nomeTitular }}</h5>
                            <h5 class="card-text mb-0">{{ carrinhoCompra.cartaoPagamento?.numero }}</h5>
                            <h5 class="card-text mb-0">{{ carrinhoCompra.cartaoPagamento?.dataValidade }}</h5>
                            <h5 class="card-text mb-3">{{ getCardFlag(carrinhoCompra.cartaoPagamento?.numero) | uppercase }}</h5>
                            <div>
                                <button class="btn btn-dark btn-sm mr-2" (click)="showModalCartao(true)">Editar</button>
                                <button class="btn btn-dark btn-sm btn-pre-cadastro" (click)="showModalTroca(modalTrocaCartao)">Selecionar outro</button>
                            </div>
                        </div>
                        <div *ngIf="!carrinhoCompra.cartoes?.length">
                            <button class="btn btn-dark btn-sm mr-2 mt-3" (click)="showModalCartao(false)">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 d-flex align-items-center">
                <mat-icon class="mr-2">card_giftcard</mat-icon>
                <h2 class="p-0 m-0">Cupom</h2>
                </div>
            </div>    
            <div class="row d-flex justify-content-center">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <form [formGroup]="cupomForm" class="mt-4">                            
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <input type="text" class="form-control form-control-sm" formControlName="cupom" aria-describedby="cupom" placeholder="código">
                                    <small class="form-text text-muted" *ngIf="cupomForm.get('cupom').value">{{ infoCupom }}</small>
                                </div>
                                <div class="form-group col-md-2">              
                                    <button class="btn btn-dark btn-sm" (click)="validaCupom(cupomForm.get('cupom').value)">Aplicar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="barra"></div>

        <div class="col-md-4">            
            <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                <mat-icon class="mr-2">monetization_on</mat-icon>
                <h2 class="p-0 m-0">Forma de Pagamento</h2>
                </div>
            </div>    
            <div class="mt-2">
                <div class="form-group">
                    <section class="example-section">
                        <mat-checkbox class="example-margin" id="add-cartao-adicional" [(ngModel)]="cartaoAdicional" color="primary">Cartão Adicional</mat-checkbox>
                    </section>
                </div>
                <div class="form-group" *ngIf="cartaoAdicional">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">2º Cartão</label>
                        <div class="col-sm-9">
                            <select class="custom-select mr-sm-2" id="add-cartao-combo" [(ngModel)]="pagamento.segundoCartao.idCartao">
                                <option value=0 selected>Selecione</option>
                                <option value="{{ cartao.id }}" *ngFor="let cartao of carrinhoCompra.cartoes | slice:1; let i = index">{{ cartao.numero }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="cartaoAdicional">
                        <label class="col-sm-3 col-form-label">Valor</label>                                                        
                        <div class="col-sm-9" style="display: flex;">
                            <input class="form-control form-control-sm" type="text" [disabled]="!pagamento.segundoCartao.idCartao"
                            [(ngModel)]="pagamento.segundoCartao.valorAPagar" mask="separator.2">
                            <button id="confirma-adicional"style="float: right;" (click)="addSegundoCartao()">Confirma</button>
                        </div>
                        <div style="display: flex; justify-content: flex-end;">
                            <small class="form-text text-muted" *ngIf="pagamento.obs != null">{{ pagamento.obs }}</small>
                        </div>
                    </div>
                </div>


                <div *ngIf="setCartaoAdd && cartaoAdicional">
                    <p><b>Cartões</b></p>
                </div>
                <div *ngIf="setCartaoAdd && cartaoAdicional">
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <p class="resumo-pgto">Cartão Principal: </p>
                            <p>{{ pagamento.cartaoPrincipal.valorAPagar | currency: 'BRL' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <p class="resumo-pgto">Cartão Adicional: </p>
                            <p>{{ pagamento.segundoCartao.valorAPagar | currency: 'BRL' }}</p>
                        </div>
                    </div>
                </div>

                <div>
                    <p><b>Lançamentos</b></p>
                </div>                
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <p class="resumo-pgto">Subtotal: </p>
                        <p>{{ carrinhoCompra.valorCompras | currency: 'BRL' }}</p>
                    </div>
                </div>
                <div class="row" *ngIf="carrinhoCompra.frete?.valorFrete != 0">
                    <div class="d-flex justify-content-between">
                        <p class="resumo-pgto">Frete</p>
                        <p>{{ carrinhoCompra.frete?.valorFrete | currency: 'BRL' }}</p>
                    </div> 
                </div>
                <div class="row" *ngIf="carrinhoCompra.cupons?.length">
                    <div>
                        <p><b>Descontos</b></p>
                    </div>
                    <div class="d-flex justify-content-between" *ngFor="let cp of carrinhoCompra.cupons">
                        <p class="resumo-pgto">{{ 'Cupom: ' + cp.codigoCupom }}</p>
                        <p>{{'- ' }}{{ cp.valorCupomDesconto | currency: 'BRL' }}</p>
                    </div> 
                </div>               
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <strong><p>Total</p></strong>
                        <strong>                                 
                            <p>{{ updateValorCompras() | currency: 'BRL' }}</p>
                        </strong>
                    </div> 
                </div>
            </div>
            <div class="btn-avancar mt-5">
                <button type="button" class="btn btn-dark btn-sm" matStepperNext (click)="setCarrinho()"
                    [disabled]="carrinhoCompra.enderecoEntrega?.id == undefined || carrinhoCompra.cartaoPagamento?.id == undefined">
                    CONFIRMAR PAGAMENTO
                </button>
            </div>
        </div>       
    </div>
</div>


<!-- MODAL TROCA ENDEREÇO -->
<ng-template #modalTrocaEndereco let-modal class="modal-troca">
    <div class="modal-header">
        <div class="d-flex align-items-center">
            <mat-icon class="mr-2">location_on</mat-icon>
            <p class="modal-title p-0 m-0"><strong>Endereço</strong></p>
        </div>
    </div>
    <div class="modal-body">        
        <div *ngFor="let endereco of carrinhoCompra.enderecos">
            <label [for]="endereco.logradouro" style="width: 100%;" id="{{  'endereco_' + endereco.id }}">
                <div class="card mt-1" style="width: 100%;">
                    <div class="card-body">                  
                        <h3 class="card-title mb-2"><strong>Endereço de {{ endereco.descricao }}</strong></h3>
                        <div class="d-flex align-items-center ">
                            <input class="mr-3" [id]="endereco.logradouro" type="radio" value="{{ endereco.id }}" [(ngModel)]="enderecoTroca">
                            <div>
                                <h5 class="card-text mb-0">{{ endereco.logradouro + ', ' + endereco.numero }}</h5>
                                <h5 class="card-text mb-0">{{ endereco.bairro }}</h5>
                                <h5 class="card-text mb-0">{{ 'CEP ' + endereco.cep + ' - ' + endereco.cidade + ' - ' + endereco.uf }}</h5>                            
                            </div>                        
                        </div>
                    </div>
                </div>            
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" (click)="setTrocaEndereco()" id="endereco-seleciona">Selecionar</button>
        <button type="button" class="btn btn-dark btn-sm btn-pre-cadastro" (click)="showModalEndereco(false)" id="endereco-cria-novo">Novo Endereço</button>        
    </div>
</ng-template>


<!-- MODAL TROCA CARTÃO -->
<ng-template #modalTrocaCartao let-modal class="modal-troca">
    <div class="modal-header">
        <div class="d-flex align-items-center">
            <mat-icon class="mr-2">credit_card</mat-icon>
            <p class="modal-title p-0 m-0"><strong>Cartão</strong></p>
        </div>
    </div>
    <div class="modal-body">        
        <div *ngFor="let cartao of carrinhoCompra.cartoes">
            <label [for]="cartao.id" style="width: 100%;" id="{{  'cartao_' + cartao.id }}">
            <div class="card mt-1" style="width: 100%;">
                <div class="card-body">                  
                    <h3 class="card-title mb-2">
                        <img [src]="'/assets/credit_card/' + cartao.bandeira + '.svg'"  width="30px"/>
                        <strong>{{ cartao.bandeira | uppercase }}</strong>
                    </h3>
                    <div class="d-flex align-items-center ">
                        <input class="mr-3" type="radio" [id]="cartao.id" value="{{ cartao.id }}" [(ngModel)]="cartaoTroca">
                        <div>
                            <h5 class="card-text mb-0">{{ cartao.nomeTitular }}</h5>
                            <h5 class="card-text mb-0">{{ cartao.numero }}</h5>
                            <h5 class="card-text mb-0">{{ cartao.dataValidade }}</h5>
                        </div>                        
                    </div>
                </div>
            </div>
            </label>       
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" (click)="setTrocaCartao()" id="cartao-seleciona">Selecionar</button>
        <button type="button" class="btn btn-dark btn-sm btn-pre-cadastro" (click)="showModalCartao(false)" id="cartao-novo">Novo Cartão</button>        
    </div>
</ng-template>

