<!-- MODAL DETALHES PRODUTO -->
<div id="modal-produtos" class="modal-produtos">
    <div class="modal-header">
        <div class="d-flex align-items-center">
            <mat-icon class="mr-2">assignment</mat-icon>
            <p class="modal-title p-0 m-0"><strong>{{ 'Pedido: #' + itensCompra.codigo }}</strong></p>
        </div>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th></th>
                  <th>Obs.</th>
                  <th>Valor Pago</th>
                  <th class="tab-header">Qtd.</th>
                  <th>Status</th>
                  <th>Ações</th>              
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itensCompra.produtos" [ngClass]="item.status == 7 ? 'disabled' : ''">
                  <td class="car-imagem"><img src="{{ item.imagem }}" width="50px" height="50px"></td>
                  <td>
                    <p><strong>{{ item.titulo }}</strong></p>
                    <!-- <p>{{ getPaisNome(item.paisSigla) }}</p> -->
                    <p>{{ item?.categoria }}{{' - ' + item.quantidade + 'ml' }}</p>
                    <p> {{ item?.pais}}</p>
                  </td>
                  <td>
                    <p>{{ 'Armazenamento: ' + item.tempoGuarda + ' anos' }}</p>
                    <p>{{ 'teor alcólico: ' + item.teorAlcoolico + '%' }}</p>
                  </td>
                  <td>                
                    <strong><p>{{ item.valor | currency: 'BRL' }}</p></strong>
                  </td>            
                  <td>
                    <p style="text-align: center;">{{ item.quantidade }}</p>
                  </td>
                  <td>{{ getStatusNome(item.status) }}</td>
                  <td>
                    <button class="btn btn-success btn-sm mr-2" *ngIf="item.status == 4"
                  (click)="showModalTrocaProduto(modalTrocaProduto, item, itensCompra)"><i class="fas fa-exchange-alt"></i>
                </button>
                    <p *ngIf="item.status == 7" style="color: red; text-decoration: none;">Troca Efetuada</p>
                  </td>          
                </tr>
              </tbody>
            </table>
          </div>
        </div>    
        <div class="row">
          <div class="col-md-6">
            <h3 class="title">Endereço</h3>
            <p style="font-weight: 500;"> {{itensCompra.enderecoEntrega.logradouro}}</p>
            <p>Nº {{itensCompra.enderecoEntrega.numero}}, {{itensCompra.enderecoEntrega.bairro}}</p>
            <p>CEP {{itensCompra.enderecoEntrega.cep}} - {{itensCompra.enderecoEntrega.cidade}}, {{itensCompra.enderecoEntrega.uf}}</p>
          </div>
          <div class="col-md-6">
            <h3 class="title">Transportadora</h3>
            <p>{{itensCompra.transportadora}}</p>
            <h3 class="title">Forma de Pagamento</h3>
            <p *ngFor="let cartao of itensCompra.cartoesUsados">Cartão de crédito: **** **** **** {{cartao.numero.substr(cartao.numero.length - 4)}}</p>
          </div>
        </div>
      </div>
      <div>
        <h3 class="title">Status do Pedido:</h3>
        <mat-horizontal-stepper labelPosition="bottom" #stepper>
          <mat-step label="Em Processamento" state="phone"></mat-step>
          <mat-step label="Pagamento realizado"></mat-step>
          <mat-step label="Em transporte"></mat-step>        
          <mat-step label="Em rota entrega"></mat-step>        
          <mat-step label="Entregue"></mat-step>
  
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
        </mat-horizontal-stepper>
      </div>      
    </div>  
</div>

<!-- MODAL TROCA ITEM DO PEDIDO -->
<ng-template #modalTrocaProduto let-modal class="modal-cancela">
    <div class="modal-header">
      <div class="d-flex align-items-center">
          <mat-icon class="mr-2">assignment</mat-icon>
          <p class="modal-title p-0 m-0"><strong>{{ 'Pedido: #' + itemSelecionado.idPedido }}</strong></p>
      </div>
    </div>
    <div class="modal-body">
      <p>{{ 'Confirma a troca do item ' }}<strong>{{ itemSelecionado.titulo }}</strong> {{ '?' }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm" (click)="modal.close()">Cancelar</button>
      <button type="button" class="btn btn-dark btn-sm" (click)="confirmaTrocaProduto()" (click)="modal.close()">Confirmar</button>
    </div>
  </ng-template>