  <div class="modal-header">
    <p class="modal-title m-0" id="modal-basic-title"><span class="fas fa-list-ul mr-2"></span>Detalhes: </p>    
  </div>
  <div class="modal-body">
    <div class="row-d-flex">
      <h2>Número do Pedido: #{{ pedido.codigo }}</h2> 
      <!-- <p class="mr-2">Valor Total do Pedido:</p> <strong><p>{{pedido?.valorTotal | currency: 'BRL'}}</p></strong>       -->
    </div>
    <h3>Produtos do Pedido:</h3>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Produto</th>
              <th></th>
              <th>Obs.</th>
              <th>Preço</th>
              <th class="tab-header">Quantidade</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaProdutos">
              <td class="car-imagem"><img src="{{ item.imagem }}" width="50px" height="50px"></td>
              <td>
                <p><strong>{{ 'Vinho ' + item.titulo }}</strong></p>
                <p>{{ getPaisNome(item.paisSigla) }}</p>
                <p>{{ item?.categoria }}{{' - ' + item.quantidadeML + 'ml' }}</p>
              </td>
              <td>
                <p>{{ 'Armazenamento: ' + item.tempoGuarda + ' anos' }}</p>
                <p>{{ 'teor alcólico: ' + item.teorAlcoolico + '%' }}</p>
              </td>
              <td>                
                <strong><p>{{ item.valor | currency: 'BRL' }}</p></strong>
              </td>            
              <td>
                <p style="text-align: center;">{{ item.quantidade }}</p>
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>    

    <div *ngIf="statusPedido.status > 0">
      <h3>Status do Pedido:</h3>
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step label="Em Processamento" state="edit"></mat-step>
        <mat-step label="Pagamento realizado"></mat-step>
        <mat-step label="Em transporte"></mat-step>        
        <mat-step label="Em rota entrega"></mat-step>        
        <mat-step label="Entregue"></mat-step>

        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
      <!-- <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step label="Pagamento realizado">
          <div>
            <button class="btn btn-dark btn-sm" matStepperNext (click)="setStatusPedido(statusPedido.status = 2)">Aprovar</button>
          </div>
        </mat-step>
        <mat-step label="Em transporte">
          <div>
            <button class="btn btn-dark btn-sm" matStepperNext (click)="setStatusPedido(statusPedido.status = 3)">Aprovar</button>
          </div>
        </mat-step>        
        <mat-step label="Em rota entrega">
          <div>
            <button class="btn btn-dark btn-sm" matStepperNext (click)="setStatusPedido(statusPedido.status = 4)">Aprovar</button>
          </div>
        </mat-step>        
        <mat-step label="Entregue">          
          <p>Produto entregue.</p>
        </mat-step>

        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
      </mat-horizontal-stepper> -->
    </div>
    <div class="d-flex justify-content-end" >
      <button class="btn btn-dark btn-sm" *ngIf="pedido.status != 4 && pedido.statusCancelamento != 10 && pedido.statusCancelamento != 12" (click)="setNextStatus()">Atualizar status</button>      
      <button class="btn btn-dark btn-sm mr-2" *ngIf="pedido.statusCancelamento == 12" (click)="showModalDevolverEstoque(modalDevolverEstoque, element)">Autorizar cancelamento</button>
      <button class="btn btn-dark btn-sm" *ngIf="pedido.statusCancelamento == 12" (click)="autorizaCancelamento(13)">Revogar cancelamento</button>
    </div>
  </div>
  <div class="modal-footer">    
    <div class="row">
      <button class="btn btn-dark btn-sm" (click)="closeModal()">Fechar</button>
    </div>
  </div>


<!-- MODAL DEVOLVER NO ESTOQUE -->
<ng-template #modalDevolverEstoque let-modal class="modal-cancela">
  <div class="modal-header">
    <div class="d-flex align-items-center">
        <mat-icon class="mr-2">assignment</mat-icon>
        <p class="modal-title p-0 m-0"><strong>{{ 'Pedido:' }}</strong></p>
    </div>
  </div>
  <div class="modal-body">
    <p>{{ 'Deseja devolver esse produto no estoque? '}}</p>
    <div *ngFor="let item of produtoSelecionado">
      <p><strong>{{ '# Qtd: ' + item.quantidade + ' - ' }}</strong>{{ item.titulo }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close(); setDevolverProduto(0)">Não devolver</button>
    <button type="button" class="btn btn-dark btn-sm" (click)="modal.close(); setDevolverProduto(1)">Devolver</button>
  </div>
</ng-template> 