  <div class="modal-header">
    <p class="modal-title m-0" id="modal-basic-title"><span class="fas fa-list-ul mr-2"></span>Detalhes: </p>    
  </div>
  <div class="modal-body">
    <div class="row-d-flex">
      <h2>Número do Pedido: #{{ pedido.codigo }}</h2> 
      <!-- <p class="mr-2">Valor Total do Pedido:</p> <strong><p>{{pedido?.valorTotal | currency: 'BRL'}}</p></strong>       -->
    </div>
    <h3>Produtos do Pedido:</h3>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Produto</th>
              <th></th>
              <th>Obs.</th>
              <th>Preço</th>
              <th class="tab-header">Quantidade</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaProdutos">
              <td class="car-imagem"><img src="{{ item.imagem }}" width="50px" height="50px"></td>
              <td>
                <p><strong>{{ 'Vinho ' + item.titulo }}</strong></p>
                <p>{{ getPaisNome(item.paisSigla) }}</p>
                <p>{{ item?.categoria }}{{' - ' + item.quantidadeML + 'ml' }}</p>
              </td>
              <td>
                <p>{{ 'Armazenamento: ' + item.tempoGuarda + ' anos' }}</p>
                <p>{{ 'teor alcólico: ' + item.teorAlcoolico + '%' }}</p>
              </td>
              <td>                
                <strong><p>{{ item.valor | currency: 'BRL' }}</p></strong>
              </td>            
              <td>
                <p style="text-align: center;">{{ item.quantidade }}</p>
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>    

    <div>
      <h3>Status do Pedido:</h3>
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step label="Pagamento realizado">
          <div>
            <button class="btn btn-dark btn-sm" matStepperNext (click)="setStatusPedido(statusPedido.status = 2)">Aprovar</button>
          </div>
        </mat-step>
        <mat-step label="Em transporte">
          <div>
            <button class="btn btn-dark btn-sm" matStepperNext (click)="setStatusPedido(statusPedido.status = 3)">Aprovar</button>
          </div>
        </mat-step>        
        <mat-step label="Em rota entrega">
          <div>
            <button class="btn btn-dark btn-sm" matStepperNext (click)="setStatusPedido(statusPedido.status = 4)">Aprovar</button>
          </div>
        </mat-step>        
        <mat-step label="Entregue">          
          <p>Produto entregue.</p>
        </mat-step>

        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </div>

  </div>
  <div class="modal-footer">    
    <div class="row">
      <button class="btn btn-dark btn-sm" (click)="closeModal()">Fechar</button>
    </div>
  </div>