<div class="mat-elevation">
    <table mat-table [dataSource]="dataSource">
        
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Pedido </th>
        <td mat-cell *matCellDef="let element"> #{{element.codigo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{getStatusNome(element.status)}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade }} </td>
      </ng-container>

      <ng-container matColumnDef="valorFrete">
        <th mat-header-cell *matHeaderCellDef> Valor do Frete </th>
        <td mat-cell *matCellDef="let element"> {{element.valorFrete | currency: 'BRL'}}  </td>
      </ng-container>
    
      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> Valor Pago</th>
        <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency: 'BRL'}} </td>
      </ng-container>
      
  
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-dark btn-sm mr-2" matTooltip="Detalhes"
            (click)="showDetalheCompra(element)"><i class="fas fa-receipt mr-1"></i>
          </button>
          <button class="btn btn-danger btn-sm mr-2" matTooltip="Cancelar Compra" [ngClass]="element.status != 4 ? '' : 'hidden'"
            (click)="showModalCancelaCompra(modalCancelaPedido, element)"><i class="fas fa-trash mr-1"></i>
          </button>
        </td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[15, 20, 35]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>




<!-- MODAL CANCELAR PEDIDO -->
<ng-template #modalCancelaPedido let-modal class="modal-cancela">
  <div class="modal-header">
    <div class="d-flex align-items-center">
        <mat-icon class="mr-2">assignment</mat-icon>
        <p class="modal-title p-0 m-0"><strong>{{ 'Pedido: #' + compraSelecionada.codigo }}</strong></p>
    </div>
  </div>
  <div class="modal-body">
    <p>{{ 'Deseja realmente cancelar o pedido nrº '}} <strong>{{'#' + compraSelecionada.codigo }}</strong> {{ '?' }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close()">Cancelar</button>
    <button type="button" class="btn btn-dark btn-sm" (click)="confirmaCancelarCompra()">Confirmar</button>
  </div>
</ng-template> 